# LocalState
elevated-state.json
state.json

# PowerShell
powershell.config.json
PowerShell/Modules
PowerShell/Scripts

# Yasb
*.dll
frozen_application_license.json
yasb.log
Yasb/lib
Yasb/share

# nvim
lazy-lock.json

# scripts
path.txt
