[submodule "nvim"]
	path = nvim
	url = https://github.com/ConnorSweeneyDev/nvim
[submodule "yasb"]
	path = yasb
	url = https://github.com/ConnorSweeneyDev/yasb
[submodule "pwsh"]
	path = pwsh
	url = https://github.com/ConnorSweeneyDev/pwsh
[submodule "posh"]
	path = posh
	url = https://github.com/ConnorSweeneyDev/posh
[submodule "komorebi"]
	path = komorebi
	url = https://github.com/ConnorSweeneyDev/komorebi.git
[submodule "ahk"]
	path = ahk
	url = https://github.com/ConnorSweeneyDev/ahk
[submodule "which"]
	path = which
	url = https://github.com/ConnorSweeneyDev/which
