[submodule "AutoHotKey"]
	path = AutoHotKey
	url = https://github.com/ConnorSweeneyDev/AutoHotKey
[submodule "scripts"]
	path = scripts
	url = https://github.com/ConnorSweeneyDev/scripts
[submodule "posh"]
	path = posh
	url = https://github.com/ConnorSweeneyDev/posh
[submodule "nvim"]
	path = nvim
	url = https://github.com/ConnorSweeneyDev/nvim
[submodule "Yasb"]
	path = Yasb
	url = https://github.com/ConnorSweeneyDev/Yasb
