[submodule "AutoHotKey"]
	path = AutoHotKey
	url = https://github.com/ConnorSweeneyDev/AutoHotKey
[submodule "nvim"]
	path = nvim
	url = https://github.com/ConnorSweeneyDev/nvim
[submodule "Yasb"]
	path = Yasb
	url = https://github.com/ConnorSweeneyDev/Yasb
[submodule "PowerShell"]
	path = PowerShell
	url = https://github.com/ConnorSweeneyDev/PowerShell
[submodule "LocalState"]
	path = LocalState
	url = https://github.com/ConnorSweeneyDev/LocalState
[submodule "Komorebi"]
	path = Komorebi
	url = https://github.com/ConnorSweeneyDev/Komorebi
[submodule "Scripts"]
	path = Scripts
	url = https://github.com/ConnorSweeneyDev/Scripts
[submodule "Posh"]
	path = Posh
	url = https://github.com/ConnorSweeneyDev/Posh
