# DESIGNED FOR 2560x1440 SCREENS

watch_stylesheet: true
watch_config: true
debug: false

bars:
  status-bar:
    enabled: true
    screens: ["*"]
    class_name: "yasb-bar"
    alignment:
      position: "top"
      center: false
    blur_effect:
      enabled: false
      acrylic: false
    window_flags:
      always_on_top: false
      windows_app_bar: true
    dimensions:
      width: "100%"
      height: 46
    padding:
      top: 0
      left: 0
      bottom: 0
      right: 0
    widgets:
      left: ["power_menu", "komorebi_workspaces"]
      center: ["active_window"]
      right: ["clock"]

widgets:
  power_menu:
    type: "yasb.power_menu.PowerMenuWidget"
    options:
      label: "\uf015"
      uptime: False
      blur: False
      blur_background: True
      animation_duration: 300
      button_row: 3
      buttons:
        sleep: ["\u23fe","Sleep"]
        restart: ["\uead2","Restart"]
        shutdown: ["\uf011","Shut Down"]
        lock: ["\uea75","Lock"]
        signout: ["\udb80\udf43","Sign out"]
        cancel: ["\udb81\udf3a","Cancel"]

  komorebi_workspaces:
    type: "komorebi.workspaces.WorkspaceWidget"
    options:
        label_offline: "Komorebi Off"
        label_workspace_btn: "\udb81\udc3d"
        label_workspace_active_btn: "\udb81\udc3e"
        label_default_name: "{index}"
        label_zero_index: false
        hide_empty_workspaces: false
        hide_if_offline: false

  active_window:
    type: "yasb.active_window.ActiveWindowWidget"
    options:
      label: "{win[title]}"
      label_alt: "Class[{win[class_name]}] Process[{win[process][name]}]"
      label_no_window: ""
      label_icon: true
      label_icon_size: 26
      max_length: 126
      max_length_ellipsis: "..."
      monitor_exclusive: true

  clock:
    type: "yasb.clock.ClockWidget"
    options:
      label: "{%a %d|%m|%Y %H:%M:%S}"
      label_alt: "{%a %d|%m|%Y %H:%M:%S}"
      timezones: []
    calendar:
      blur: False
